*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
}

/* Header Starts*/

header{
	width: 100%;
	float: left;
	position: fixed;
}

.container{
	width: 1140px;
	margin: 0 auto;
	background-color: white;
	height: 80px;
}

.admin{
	width: 30%;
	float: left;
	text-align: right;
}

.admin a img{
	height: 55px;
	margin-right: 81px;

}

.menu{
	width: 40%;
	float: left;
}


nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	margin: 10px 20px 10px 0px;
	padding-top: 20px;
	text-transform: uppercase;
	font-size: 15px;
}

nav ul li a{
	text-decoration: none;
	color: black;
}

.social-btn{
	width: 30%;
	float: left;
}

.social-btn ul{
	list-style: none;
}

.social-btn ul li{
	display: inline-block;
	margin: 10px 10px 10px 0px;
	padding-top: 15px;
	font-size: 15px;
}

.social-btn ul li a{
	text-decoration: none;

}

.fa.fa-facebook{
	background: #4267B2;
	color: #fff;
	padding: 6px 10px;
	transition: 0.4s;
}
.fa.fa-facebook:hover {
	transform: scale(1.5);
}

.fa.fa-twitter{
	background: #1DA1F2;
	color: #fff;
	padding: 6px 10px;
	transition: 0.4s;
}

.fa.fa-twitter:hover {
	transform: scale(1.5);
}
.fa.fa-linkedin{
	background: #0077B5;
	color: #fff;
	padding: 6px 10px;
	transition: 0.4s;
}
.fa.fa-linkedin:hover {
	transform: scale(1.5);
}
.fa.fa-google-plus {
	background: #DD4B39;
	color: #fff;
	padding: 6px 10px;
	transition: 0.4s;
}
.fa.fa-google-plus:hover {
	transform: scale(1.5);
}
.fa.fa-sign-in{
	color: #2F41A7;
	font-size: 20px;
	transition: 0.4s;
}
.fa.fa-sign-in:hover {
	transform: scale(1.5);
}


/*Banner Section Starts*/


.sec-one {
	width: 100%;
	float: left;
}


.banner{
	background-image: url(../img/bg.jpg);
	display: block;
	width: 1140px;
	height: 500px;
	margin: 5px auto;
	background-size:cover;
	

}
.ad-banner{
	background: rgba(163, 162, 153, 30%);
    width: 410px;
    margin: 153px 100px;
    display: inline-block;
    background-color: #a1a1ab63;
    border-radius: 5px;
	
}

section div div h1{
	display: block;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	
}

.paragraph{
	display: block;
	font-size: 11px;
	text-transform: none;
	text-align: center;
	padding-top: 10px;
	
}


button{
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	background-color: #66C430;
	border-radius: 6px;
	padding: 6px 4px;
	margin: 8px
}

.button{
	text-align: center;
	margin-bottom: 30px;
}

/* Service section starts*/

.sec-two{
	width: 100%;
	float: left;
}

.service-one{
	float: left;
	width: 25%;
	height: 300px;
	display: inline-block;
}

.fa.fa-check{
	text-align: center;
	background: #6879D4;
	border-radius: 50%;
	color: white;
	margin-top: 30px;
	margin-left: 110px;
	padding: 20px;
	font-size: 25px;
}

.service-two{
	float: left;
	width: 25%;
	height: 300px;
	display: inline-block;
}


.fa.fa-map-marker{
	text-align: center;
	background: #009688;
	border-radius: 50%;
	color: white;
	margin-top: 30px;
	margin-left: 110px;
	padding: 20px 25px;
	font-size: 25px;
}

.service-three{
	float: left;
	width: 25%;
	height: 300px;
	display: inline-block;
}


.fa.fa-money{
	text-align: center;
	background: #4CAF50;
	border-radius: 50%;
	color: white;
	margin-top: 30px;
	margin-left: 110px;
	padding: 20px;
	font-size: 25px;
}

.service-four{
	float: left;
	width: 25%;
	height: 300px;
	display: inline-block;
}


.fa.fa-user-plus{
	text-align: center;
	background: #97E268;
	border-radius: 50%;
	color: white;
	margin-top: 30px;
	margin-left: 110px;
	padding: 20px;
	font-size: 25px;
}

section div div h2{
	display: block;
	text-align: center;
	margin: 20px 0px 10px 0px;
}

section div div p{
	padding: 15px;
	text-align: left;
	font-size: 15px;
	margin-left: 10px;
}

.button-two{
	text-align: center;
}

/*--Invest Section Starts--*/

.sec-three{
	width: 100%;
	float: left;
}

.invest{
	width: 50%;
	float: left;

}
.invest-bg{
	background: #B7CCD3;
	width: 400px;
	padding: 30px 25px;
	margin-top: 20px;
	margin-left: 50px;
}

.fa.fa-stop-circle-o{
	color: green;
	margin: 10px;
}

.para{
	color: black;
	margin-left: 5px;
}

/*Blog Section Starts*/

.sec-four{
	width: 100%;
	float: left;
}

.blog{
	width: 50%;
	float: left;
}

.blog-content{
	width: 420px;
	margin: 10px 0px 10px 50px;
	color: steelblue;
}

.para-two{
	display: block;
	color: black;
	padding: 10px 0px 0px 0px;
	margin: 0px;

}.para-three{
	display: block;
	color: black;
	padding: 40px 0px 0px 0px;
	margin: 0px;

}

/* Achievement Section Starts*/

.sec-five{
	width: 100%;
	float: left;
}

.container-achieve{
	width: 1140px;
	margin: 0 auto;
	background: #DCDCDC;
}

.achive{
	display: block;
	width: 350px;
	margin: auto;
}

.achive-center{
	text-align: center;
	padding: 20px 0px;
}

.achive-spacing{
	padding: 3px;
}

/* Star Section Starts*/

.sec-six{
	width: 100%;
	float: left;
}

.star{
	display: block;
	width: 350px;
	margin: auto;
}
.star-center{
	font-size: 20px;
	text-align: center;
	padding: 20px 0 0 0;
}

.fa.fa.fa-star{
	color: #00B67A;
}
.trust{
	color: black;
}

.star-btn{
	width: 350px;
	text-align: center;
}
.star-btn ul{
	list-style: none;
}

.star-btn ul li{
	display: inline-block;
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
}

.fa.fa-star-o{
	margin-top: 10px;
	background: #73CF11;
	color: #fff;
	padding: 6px 9px;
}


.para-align{
	text-align: center;
	font-size: 13px;
}


/* Footer Section Starts*/

.sec-seven{
	width: 100%;
	float: left;
}

.container-f{
	width: 1140px;
	background: #6D6E6A;
	margin:58px auto;
	height: 100px;
}


.footer-padding{
	width: 570px;
	margin: 0 auto;
}

.footer p{
	color: white;
	text-align:center;
	font-size:18px;
	padding-top: 40px;
}